body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#f4f6f9;
}

nav{

background:#111;

padding:15px;

display:flex;

gap:25px;

box-shadow:0 2px 8px rgba(0,0,0,0.2);

}

nav a{

color:white;

text-decoration:none;

font-size:18px;

font-weight:bold;

}

nav a:hover{

color:#4da6ff;

}

.container{

padding:30px;

}

.hero{

background:
linear-gradient(
135deg,
#1e3c72,
#2a5298
);

color:white;

padding:50px;

border-radius:15px;

text-align:center;

box-shadow:
0 5px 15px
rgba(0,0,0,0.2);

margin-bottom:30px;

}

.hero h1{

font-size:42px;

margin-bottom:10px;

}

.hero p{

font-size:20px;

}

.cards{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(220px,1fr)
);

gap:25px;

}

.card{

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:
0 3px 12px
rgba(0,0,0,0.15);

transition:0.3s;

}

.card:hover{

transform:
translateY(-8px);

box-shadow:
0 8px 20px
rgba(0,0,0,0.2);

}

.card h3{

margin:10px;

color:#1e3c72;

}

.card p{

color:gray;

}

button{

background:
linear-gradient(
90deg,
#0066ff,
#00aaff
);

border:none;

padding:12px;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

width:100%;

}

button:hover{

opacity:0.9;

}

input,
select,
textarea{

width:100%;

padding:10px;

margin:8px 0;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

}

table{

width:100%;

border-collapse:collapse;

background:white;

margin-top:20px;

}

th{

background:#1e3c72;

color:white;

padding:12px;

}

td{

padding:10px;

text-align:center;

}

tr:nth-child(even){

background:#f2f2f2;

}
.cards a{

text-decoration:none;

color:black;

display:block;

}
.card{

cursor:pointer;

}

.card:hover{

transform:translateY(-10px);

}